.header {
  max-width: 880px;
  width: 100%;
  padding: 45px 0 40px;
}

@media screen and (max-width: 980px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 83.125%;
    padding: 29px 0 30px;
  }
}
