.profile__edit {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  cursor: pointer;
  outline: none;
  background: url('../../../images/profile/edit-icon.svg') center center/10px 10px no-repeat;
  padding: 11px;
  border: 1px solid var(--colorWhite);
  margin-bottom: 8px;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.profile__edit:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit {
    padding: 8px;
    background-size: 7.5px 7.5px;
  }
}
