.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 880px;
  width: 100%;
  padding: 68px 0 60px;
}

@media screen and (max-width: 980px) {
  .footer {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    width: 88.125%;
    padding: 49px 0 35px;
  }
}
