.profile__add {
  margin-left: auto;
  cursor: pointer;
  outline: none;
  background: url('../../../images/profile/add-icon.svg') center center/22px 22px no-repeat;
  padding: 23px 73px;
  border: 2px solid var(--colorWhite);
  border-radius: 2px;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.profile__add:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add {
    background-size: 16px 16px;
    padding: 23px 139px;
    margin-left: 0;
  }
}
