.profile__add {
  margin-left: auto;
  cursor: pointer;
  outline: none;
  background-color: var(--colorBlack);
  padding: 12px 62px;
  border: 2px solid var(--colorWhite);
  -webkit-transition: border-color 0.3s ease-out;
  -o-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
}

.profile__add:hover,
.profile__add:focus {
  border-color: rgba(255, 255, 255, .6);
}

.profile__add:hover .profile__add-image,
.profile__add:focus .profile__add-image {
  fill: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 767px) {
  .profile__add {
    padding: 15px 131px;
    margin-left: 0;
  }
}
