.popup__close {
  position: absolute;
  bottom: 102.5%;
  left: 102%;
  cursor: pointer;
  outline: none;
  padding: 16px;
  border: none;
  background: url('../../../images/popup/close-icon.svg') center center/32px 32px no-repeat;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.popup__close:hover,
.popup__close:focus {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    bottom: 105.5%;
    left: 93%;
    padding: 10px;
    background-size: 20px 20px;
  }
}
