.separator-line {
  width: 880px;
  height: 1px;
  border: none;
  margin: 0;
  background-color: var(--colorDarkGrey);
  opacity: .7;
}

@media screen and (max-width: 980px) {
  .separator-line {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .separator-line {
    width: 100%;
  }
}
