.profile__add-image {
  display: block;
  width: 22px;
  height: 22px;
  fill: var(--colorWhite);
  -webkit-transition: fill 0.3s ease-out;
  -o-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}

@media screen and (max-width: 767px) {
  .profile__add-image {
    width: 16px;
    height: 16px;
  }
}
