@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../vendor/variables.css');
@import url('../blocks/root/root.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/content/content.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__avatar-image/profile__avatar-image.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__description/profile__description.css');
@import url('../blocks/profile/__edit/profile__edit.css');
@import url('../blocks/profile/__add/profile__add.css');
@import url('../blocks/elements/__list/elements__list.css');
@import url('../blocks/element/__item/element__item.css');
@import url('../blocks/element/__image-container/element__image-container.css');
@import url('../blocks/element/__image/element__image.css');
@import url('../blocks/element/__text-container/element__text-container.css');
@import url('../blocks/element/__name/element__name.css');
@import url('../blocks/element/__like/element__like.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__save/popup__save.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/element/__like/_active/element__like_active.css');
@import url('../blocks/popup/_opened/popup_opened.css');

