.profile__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 18px auto;
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: auto 10px auto;
  grid-template-rows: repeat(2, auto);
  gap: 10px 18px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    gap: 7px 10px;
    -webkit-transform: translateX(6%);
        -ms-transform: translateX(6%);
            transform: translateX(6%);
    text-align: center;
    margin-bottom: 7px;
  }
}
