.popup__title {
  color: var(--colorBlack);
  font-weight: 900;
  margin: 0;
  line-height: 29.05px;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    align-self: center;
    line-height: 1.21;
    font-size: calc(1vw + 15px);
  }
}
