.popup__save {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  padding: 15px 0 13px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 22px;
  font-size: 18px;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.popup__save:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 767px) {
  .popup__save {
    line-height: 1.21;
    font-size: calc(1vw + 11px);
  }
}
